@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Hanken Grotesk', sans-serif;
}

p{
  font-size: 18px;
}

strong{
  color: hsl(224, 30%, 27%);
}
